* {
     box-sizing: borderbox;
  }
 


          .container {
             width: 800px;
             height: 900px;   
             border: 5px solid black;
             margin: 15px auto;
                background-image: url(./images/img1.jpg);
                 background-size: cover; /* Optional: make image fit */
              background-position: center; /* Center image */
              display: grid;
              grid-template-columns: repeat(4, 25%);
              grid-template-rows: repeat(6, 1fr);
                     }

           .door {
                background-color: rgba(255, 255, 255, 0.5);
                border: 2px solid brown;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                transition: transform 0.3s;
                }

            .door:hover {
                    transform: scale(1.1); /* subtle hover effect */
                        }

